footer(class='row')
  hr
  ul.social-media-icons.col-xs-12.col-md-4(style='display:inherit;list-style-type:none')
    li.social-media-links
      a(href='https://www.linkedin.com/in/mallory-burke-bbb925b9')
        i.fa.fa-linkedin
    li
      a(href='https://www.github.com/malloryporche')
        i(class='fa fa-facebook')
    li
      a(href='https://www.facebook.com/mallory.burke58')
        i.fa.fa-github
  h6.col-xs-10.col-md-7 &copy; 2018
    a(href='mailto:mallory@malloryburke.com')  mallory porch&eacute burke
  div.col-xs-2.col-md-1
    img(src='./img/logo.png' alt='Mallory Burke Javascript Software Developer')
  
  