footer(class='row')
  hr
  h6.col-xs-10.col-md-7 &copy; 2018
    a(href='mailto:mallory@malloryburke.com')  mallory porch&eacute burke
  div.col-xs-2.col-md-1
    img(src='./img/logo.png' alt='copyright Mallory Burke')
  
  
