
  
header.row
  section.col-lg-11.col-sm-12#splash
    h1 "As architects we are often involved in the concrete-steel-and-glass aspect of it, but cities are social structures, and to be involved in imagining the future of cities and the type of relationships and the types of places that we're making is something that intrigues me very much."
    h3 -Michael Arad
    hr.col-lg-1#page-top
      a(href='/page-top')