extends layout

block main
  section
    h1 Hello, comrade!
    form(action='' method='post')
      label Please enter your username
      input(type='text' name='username')
      button(type='submit') Submit
