extends layout

block main
  h1.display-4
    img.avatar.img-circle.hidden-xs-down(src='/img/avatar.png', alt='avatar', style='height: 145px;')
    | #{name}
  h2.favorite-book Favorite Book
  |  #{favorite}
