extends layout

block main
  h1 Recipe Book

  ul
    each recipe in recipes
      li
        h2
          a(href='/recipes/id/#{id}')=  recipe.name
      if recipe.ingredients
        h6 Ingredients
        li= recipe.ingredients[1]
        li= recipe.ingredients[2]
        li= recipe.ingredients[3]
      else
        h6 This recipe doesn't have any ingredients listed yet.

    
